@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --fontUbuntu: var(--font-ubuntu);
    --fontInter: var(--font-inter);
    --fontPoppins: var(--font-poppins);
}

body {
    font-family: var(--font-poppins);
    /* background: url("../public/images/backimg.png"); */
    background: white;
    overflow-x: hidden;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    max-width: 100%;
    height: auto;
}

.platform_title {
    @apply font-normal text-2xl text-hod-black2 text-center;
}

.registration_container {
    @apply h-full w-full flex flex-col items-center mx-auto px-5 py-10 md:px-10 md:p-14;
}

.form {
    @apply mt-14 px-5 py-8 md:p-10 flex flex-col justify-center max-w-[564px] w-full bg-white rounded-2xl;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.08);
}

.steps {
    @apply py-0.5 px-2 flex justify-center items-center rounded-2xl bg-hod-bg-red-light text-hod-red text-center text-xs leading-4.5 font-inter font-medium;
}

.input_group {
    @apply flex flex-col gap-2 w-full mb-6;
}

.input_group label {
    @apply flex gap-2;
}

.hod_input {
    @apply flex gap-2.5 h-14 w-full p-4 rounded-lg bg-white border border-hod-border-gray;
}

.form_button_container {
    @apply mt-6 md:mt-8 flex flex-col md:flex-row gap-6 justify-end;
}

.hod_button {
    @apply w-auto flex gap-2.5 py-4 px-9 rounded-lg text-base font-normal disabled:opacity-85 hover:opacity-85 transition-opacity;
}

.hod_button_primary {
    @apply bg-hod-primary text-white border border-hod-primary;
}

.hod_button_primary_light {
    @apply bg-hod-primary-light text-hod-primary border border-hod-primary;
}

.hod_button_secondary {
    @apply bg-hod-bg-red-transparent text-hod-secondary border border-hod-border-red;
}
